body{ font-family: Verdana, Geneva, Tahoma, sans-serif;

}

#main_div{
    background-color: aquamarine;
}

.headers{
    color: tomato;
}

#main_nav{
display: inline-block;
padding: 0;
margin: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  li{
    float: left;
  }

  li a {
    /*display: inline; */
    width: 100px;
    background-color: aquamarine;
    padding: 10px;
    text-decoration: none;
    color: rebeccapurple;
  }

  li a:hover{
    background-color: cornflowerblue;
    color: white;
  }